# Application config
PROJECT_NAME="Chief of Staff API"
ENVIRONMENT="dev"
SECRET_KEY="your-super-secret-key-for-dev-only"

# CORS configuration
BACKEND_CORS_ORIGINS='["http://localhost:3000", "http://localhost:8000"]'

# Database
# DATABASE_URL="postgresql+asyncpg://user:password@localhost/dbname"
MONGODB_URL="mongodb://localhost:27017"
MONGODB_DB_NAME="chief_of_staff_db"
