PROJECT_NAME=""
ENVIRONMENT="dev"
MONGODB_URL=""
MONGODB_DB_NAME=""
POSTGRES_URL=""
POSTGRES_DB_NAME=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI=""
GOOGLE_OAUTH_SCOPES=""
OAUTH_TOKEN_ENCRYPTION_KEY=""
JWT_SECRET=""
ACCESS_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRES_IN_SECONDS=""
REFRESH_TOKEN_EXPIRES_IN_SECONDS=""
REFRESH_TOKEN_PEPPER=""